<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container text-center">
    <img
      src="img/logo-h.png"
      class="img-fluid mb-4"
      width="192"
      alt="logo of tech log"
    />
    <div class="text-center mb-2">
      <a href="https://github.com/shariult" target="_blank" class="fs-4 me-2"
        ><i class="fa-brands fa-github social__icon"></i
      ></a>
      <a href="#" target="_blank" class="fs-4 me-2"
        ><i class="fa-brands fa-instagram social__icon"></i
      ></a>
      <a href="https://shariul.com" target="_blank" class="fs-4 me-2"
        ><i class="fa-solid fa-globe social__icon"></i
      ></a>
    </div>
    <p class="m-0 text-center text-white-50">
      Copyright &copy; 2024 Tech Log. All rights reserved. Developed by
      <a href="https://shariul.com" target="_blank">Shariul.</a>
    </p>
  </div>
</footer>
