<%- include('partials/head') %> <%- include('partials/navbar') %>

<main class="main">
  <div class="container py-5 my-5 text-center">
    <img src="img/error.svg" alt="error" class="img-fluid my-5 w-25" />
    <p class="display-1">404</p>
    <p class="text-muted">Page Not Found!</p>
    <a href="index.ejs" class="btn btn-primary btn-lg text-light"
      >Back to Homepage</a
    >
  </div>
</main>

<%- include('partials/footer') %> <%- include('partials/end') %>
