<%- include('partials/head') %> <%- include('partials/navbar') %>

<main class="main">
  <!-- Section - Hero -->
  <header class="header container py-5">
    <div class="row">
      <div class="col-md-6 py-4 d-flex flex-column justify-content-center">
        <h1 class="display-5">
          Stay Updated with the <br />
          Latest Tech Trends
        </h1>
        <p class="text-muted mb-3 pb-3">
          Explore insightful articles, news, and reviews from our expert writers
        </p>
        <a
          href="blogs.ejs"
          class="btn btn-primary btn-lg align-self-start text-light"
          >View Blogs</a
        >
      </div>
      <div class="col-md-6">
        <img
          src="img/hero.jpg"
          alt="two people programming"
          class="img-fluid rounded shadow"
        />
      </div>
    </div>
  </header>

  <!-- Section - Blog -->
  <section class="container py-5">
    <div class="row">
      <div class="col-md-12 col-lg-8 pe-5">
        <h3 class="mb-3">Recent Story</h3>
        <p class="text-muted mb-5">Recent News Posted About Tech</p>
        <!-- Blogs -->
        <div class="blogs">
          <!-- Card 1 -->
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="img/blog-img.jpg"
                  class="img-fluid rounded-start h-100 object-fit-cover"
                  alt="..."
                />
              </div>
              <div class="col-md-8">
                <!-- Card Body -->
                <div class="card-body py-4">
                  <span
                    class="card__tag bg-dark text-light rounded-pill px-3 py-1 d-inline-block mb-3"
                    >Software</span
                  >
                  <h5 class="card-title">Card title</h5>
                  <p>
                    <span class="text-muted">By <a href="#">John Doe</a></span>
                    <span class="text-muted">
                      <i class="fa-regular fa-clock d-inline-block ms-2"></i>
                      23rd October, 2024
                    </span>
                  </p>
                  <p class="card-text">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer.
                  </p>
                  <p class="card-text">
                    <small class="text-body-secondary"
                      >Last updated 3 mins ago</small
                    >
                  </p>
                  <a href="blog-details.ejs"
                    >Read More <i class="fa-solid fa-chevron-right fs-6"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>

          <!-- Card 2 -->
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="img/blog-img.jpg"
                  class="img-fluid rounded-start h-100 object-fit-cover"
                  alt="..."
                />
              </div>
              <div class="col-md-8">
                <!-- Card Body -->
                <div class="card-body py-4">
                  <span
                    class="card__tag bg-dark text-light rounded-pill px-3 py-1 d-inline-block mb-3"
                    >Hardware</span
                  >
                  <h5 class="card-title">Card title</h5>
                  <p>
                    <span class="text-muted">By <a href="#">John Doe</a></span>
                    <span class="text-muted">
                      <i class="fa-regular fa-clock d-inline-block ms-2"></i>
                      23rd October, 2024
                    </span>
                  </p>
                  <p class="card-text">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer.
                  </p>
                  <p class="card-text">
                    <small class="text-body-secondary"
                      >Last updated 3 mins ago</small
                    >
                  </p>
                  <a href="blog-details.ejs"
                    >Read More <i class="fa-solid fa-chevron-right fs-6"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>

          <!-- Card 3 -->
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="img/blog-img.jpg"
                  class="img-fluid rounded-start h-100 object-fit-cover"
                  alt="..."
                />
              </div>
              <div class="col-md-8">
                <!-- Card Body -->
                <div class="card-body py-4">
                  <span
                    class="card__tag bg-dark text-light rounded-pill px-3 py-1 d-inline-block mb-3"
                    >Internet</span
                  >
                  <h5 class="card-title">Card title</h5>
                  <p>
                    <span class="text-muted">By <a href="#">John Doe</a></span>
                    <span class="text-muted">
                      <i class="fa-regular fa-clock d-inline-block ms-2"></i>
                      23rd October, 2024
                    </span>
                  </p>
                  <p class="card-text">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer.
                  </p>
                  <p class="card-text">
                    <small class="text-body-secondary"
                      >Last updated 3 mins ago</small
                    >
                  </p>
                  <a href="blog-details.ejs"
                    >Read More <i class="fa-solid fa-chevron-right fs-6"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- More Blogs -->
        <a href="blogs.ejs" class="btn btn-primary text-light"
          >View All Blogs</a
        >
      </div>

      <!-- Sidebar -->
      <div class="col-md-12 col-lg-4">
        <!-- Search widget-->
        <div class="card mb-4">
          <div class="card-header">Search</div>
          <div class="card-body">
            <div class="input-group">
              <input
                class="form-control"
                type="text"
                placeholder="Enter search term..."
                aria-label="Enter search term..."
                aria-describedby="button-search"
              />
              <button
                class="btn btn-primary text-light"
                id="button-search"
                type="button"
              >
                Go!
              </button>
            </div>
          </div>
        </div>

        <!-- Categories widget-->
        <div class="card mb-4">
          <div class="card-header">Categories</div>
          <div class="card-body">
            <div class="row">
              <ul class="list-group mb-0">
                <li class="list-group-item"><a href="#!">Web Design</a></li>
                <li class="list-group-item"><a href="#!">HTML</a></li>
                <li class="list-group-item"><a href="#!">Freebies</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%- include('partials/footer') %> <%- include('partials/end') %>
