<%- include('partials/head') %> <%- include('partials/navbar') %>

<main class="main">
  <h1 class="heading-1">Hello World</h1>
</main>

<%- include('partials/footer') %> <%- include('partials/end') %>
